{% extends "base.html" %}

{% block main %}

    <main class="container">
        <div class="success-container">
            <div class="success-icon">
                <i class="fas fa-check-circle"></i>
            </div>
            <h1 class="success-title">Покупка завершена успешно!</h1>
            <p class="success-message">
                Благодарим вас за покупку в нашем магазине. Ваш заказ был принят в обработку.<br>
                В ближайшее время с вами свяжется наш менеджер для подтверждения заказа.
            </p>
            
            {% comment %} {% for order_info in order_info %}
            <div class="order-details">
                <h3>Детали заказа</h3>
                <p><strong>Номер заказа:</strong> #123456</p>
                <p><strong>Дата заказа:</strong> {{ order_info.created_at }} </p>
                <p><strong>Способ оплаты:</strong> Банковская карта</p>
                <p><strong>Способ доставки:</strong> Курьерская доставка</p>
                <p><strong>Сумма заказа:</strong>{{  }}</p>
            </div>
            {% endfor %} {% endcomment %}

            <div class="success-buttons">
                <a href="{% url "index" %}" class="btn btn-back">Вернуться к покупкам</a>
            </div>
        </div>
    </main>

{% endblock main %}

