{% load static %}

<section class="hero-section">
    <!-- Tomato Product Card -->
     {% for hero_product in is_hero_products %}
    <div class="product-card tomato-card" data-product="tomato">
        <a href="{{ product.get_absolute_url }}">
            <div class="product-image">
                <img src="{{ hero_product.get_first_photo }}" alt="Розовый томат Розетт F1">
            </div>
        </a>
        <div class="product-overlay">
            <div class="product-title-hero">{{ hero_product.title }}</div>
            <div class="product-details">
                <div class="product-price">{{ hero_product.price }}</div>
                <div>
                    <a href="{{ product.get_absolute_url }}" class="btn-details">ПОДРОБНЕЕ</a>
                    {% comment %}
                    <button class="btn-add-cart" onclick="addToCart('tomato', 'Розовый томат Розетт F1', 2400)">В КОРЗИНУ</button>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}

    </section>