{% load static %}

<div class="container">
        <h1 class="section-title-categories">Популярные категории</h1>
        
        <div class="categories-grid">
            <a href=# class="category-item">
                <div class="category-image">
                    <div class="npk-text">NPK</div>
                </div>
                <span class="category-title" href="#">Минеральные Удобрение</span>
            </a>
        
            <a href="#" class="category-item">
                <div class="category-image">
                    <div class="tomatoes-container">
                        <div class="tomato red"></div>
                        <div class="tomato green"></div>
                        <div class="tomato yellow"></div>
                    </div>
                </div>
                <span class="category-title" href="#">Томаты</span>
            </a>
            
            <a class="category-item" href="#">
                <div class="category-image">
                    <div class="watermelon-container">
                        <div class="watermelon-whole"></div>
                        <div class="watermelon-slice"></div>
                    </div>
                </div>
                <span class="category-title" href="#">Арбуз</span>
            </a>
            
            <a class="category-item" href="">
                <div class="category-image">
                    <div class="pepper-container">
                        <div class="pepper"></div>
                        <div class="pepper sliced"></div>
                    </div>
                </div>
                <span class="category-title" href="#">Сладкий перец</span>
            </a>
        </div>
    </div>