{% extends "base.html" %} {% block main %}
<div class="container">
  <div class="about-us-content">
    <h1 class="about-us-title">О нас</h1>
    <p class="about-us-text">
      Рады приветствовать Вас на нашем сайте магазина Мир семян.
    </p>
    <p class="about-us-text">
      Здесь Вы найдете биологические средства защиты растений, комплексные
      минеральные удобрения и семена различных овощных культур: томата, огурца,
      перца, сладкой (сахарной) кукурузы, петрушки, укропа, свеклы, лука,
      моркови, тыквы и другие.
    </p>
    <p class="about-us-text">
      Профессиональные семена выведенные иностранными и российскими
      селекционными компаниями. Такими как: Enza Zaden, Agri Saaten, Soto Seeds,
      Hazera, ESASEM, Sakata, Syngenta, Bejo Zaden, Rijk Zwaan, Seminis, Yuksel
      Tohum, Clause, Vilmorin, Kitano Seeds, Nongwoo Bio, Doktor Tarsa, Гавриш,
      ПОИСК и другие.
    </p>
    <p class="about-us-text">
      В нашем ассортименте все товары имеют оригинальную фирменную упаковку, за
      исключением ручной фасовки.
    </p>
    <p class="about-us-text">Мы рады предложить Вам:</p>
    <p class="about-us-text">- качественные товары по приемлемым ценам;</p>
    <p class="about-us-text">- помощь с выбором сорта.</p>
    <p class="about-us-text">
      Мы работаем ответственно, добросовестно и порядочно!
    </p>
  </div>
</div>
{% endblock main %}
