{% extends "base.html" %}

{% block main %}
<div class="container">
        <header class="header">
            <h1>Связаться с нами</h1>
        </header>

        <div class="contact-info">
            <div class="contact-item">
                <div class="contact-icon website-icon">
                    <span>🌐</span>
                </div>
                <div class="contact-details">
                    <h3>Официальный сайт</h3>
                    <p><a href="http://agrovibor.ru">agrovibor.ru</a></p>
                    <p>Проспект Чекистов д. 39 офис 111</p>
                    
                    <div class="additional-info">
                        <p><strong>Дополнительная информация:</strong></p>
                        <p>Уточняйте п  ожалуйста ассортимент товаров в магазине по телефону.</p>
                        <p><strong>Режим работы:</strong> Будни, с 09.00 до 18.00</p>
                    </div>
                </div>
            </div>

            <div class="contact-item">
                <div class="contact-icon email-icon">
                    <span>✉️</span>
                </div>
                <div class="contact-details">
                    <h3>Поддержка покупателей</h3>
                    <p><a href="mailto:dir@agrovibor.ru">dir@agrovibor.ru</a></p>
                </div>
            </div>

            <div class="contact-item">
                <div class="contact-icon phone-icon">
                    <span>📞</span>
                </div>
                <div class="contact-details">
                    <h3>Телефон</h3>
                    <p><a href="tel:+79183119025">+7 (918) 311 90 25</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}