{% extends "base.html" %}
{% load static %}

{% block main %}
<main class="main-content">
        <div class="product-container">
            <!-- Product Images -->
            <div class="product-images">
                {% for image in product.images.all %}
                <div class="thumbnail active">
                    <img src="{{ image.image.url }}" alt="">
                </div>
                {% endfor %}
            </div>

            <!-- Main Image -->
            <div class="main-image-container">
                {% comment %} <div class="discount-badge">СКИДКА 21 %</div> {% endcomment %}
                <img src="{{ product.get_first_photo }}" class="main-image" id="mainProductImage">
            </div>

            <!-- Product Info -->
            <div class="product-info">
                {% comment %} <div class="product-code">63127</div> {% endcomment %}
                
                {% if product.availability %}
                <div class="stock-status">
                    ✓ На складе
                </div>
                {% else %}
                <div class="stock-status">
                    ❌ Нет в наличии
                </div>
                {% endif %}

                <div class="brand">{{ product.manufacturer }}</div>
                
                <h1 class="product-title">{{ product.title }}</h1>
                
                <div class="package-options">
                    <div class="package-label">Фасовка</div>
                    <div class="package-option">
                        <div class="package-radio selected"></div>
                        <span class="package-text">{{ product.quantity }}</span>
                    </div>
                </div>
                
                 <div class="price-section">
                    <span class="current-price">{{ product.price }} ₽</span>
                </div> 
                <a href="{% url "cart_add" product.id %}">
                <button class="buy-button" id="buy-button">
                            🛒 КУПИТЬ
                </button>
                </a>
            </div>
        </div>

        <!-- Product Description -->
        <div class="product-description">
            <h2 class="description-title">Описание товара</h2>
                {% for decription_image in product.decription_images.all %}
                <img src="{{ decription_image.decription_image.url }}" class="product-discription-photo">
                {% endfor %}
            <div class="description-content">
                <p>{{ product.discription|linebreaks }}</p>
                <h2 class="description-title">Дополнительная информация</h2>
                <p>{{ product.additional_information|linebreaks }}</p>
            </div> 
        </div>
            {% comment %} {% endif %} {% endcomment %}
        

    </main>

{% endblock main %}