{% load static %}
{% comment %} {% load cart_tags %}
{% get_cart_quantity request as carts %} {% endcomment %}

    <header class="top-header">
        <div class="top-header-content">
            <div class="logo">
                <div class="logo-icon">
                    <a href="{% url "index" %}">
                        <img class="logo-img" src="{% static "main/img/logo.png" %}">    
                    </a>
                </div>
            </div>
            
            <div class="search-section">
                <input 
                type="text"
                class="search-input"
                placeholder="Что будем искать"
                hx-get="{% url 'search_results' %}"
                hx-trigger="keyup changed delay:300ms"
                hx-target="#search-results"
                hx-swap="innerHTML"
                name="q">
                <p class="search-btn">🔍</p>
                <div id="search-results" class="search-results-container">
                    {% include "components/search_results.html" %}
                </div>
            </div>
        
            <div class="header-info">
                <div>
                    <div class="phone-number">+7 (918) 311 90 25</div>
                    <a href="#" class="callback-link">Обратный звонок</a>
                </div>
                
                <div class="header-icons">
                    {% comment %} <a href="#" class="header-icon">
                        <span class="header-icon-symbol">📊</span>
                        <span>СРАВНЕНИЕ</span>
                    </a> {% endcomment %}
                    {% comment %} <a href="#" class="header-icon">
                        <span class="header-icon-symbol">❤️</span>
                        <span>ИЗБРАННОЕ</span>
                    </a> {% endcomment %}
                    {% if not request.user.is_authenticated  %}
                    <a href="{% url "login" %}" class="header-icon">
                        <span class="header-icon-symbol">👤</span>
                        <span>МОЙ АККАУНТ</span>
                    </a>
                    <a href="{% url "login" %}" class="header-icon">
                        <div class="header-icon-symbol">🛒</div>
                        <span>Корзина</span>
                    </a>
                    {% else %}
                    <a href="{% url "profile" %}" class="header-icon">
                        <span class="header-icon-symbol">👤</span>
                        <span>МОЙ АККАУНТ</span>
                    </a>
                    <a href="{% url "cart_detail" %}" class="header-icon">
                        <div class="header-icon-symbol">🛒</div>
                        <span>Корзина</span>
                        {% with total_items=cart|length %}
                        {% if total_items > 0 %}
                        <span class="cart-badge">{{ total_items }}</span>
                        {% endif %}
                        {% endwith %}
                        
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>