<header class="main-header">
        <nav class="main-nav">
            <a href="#" class="nav-item catalog">≡ КАТАЛОГ ТОВАРОВ</a>
            <a href="#" class="nav-item">ПРОИЗВОДИТЕЛИ</a>
            <a href="#" class="nav-item">АКЦИИ</a>
            <a href="#" class="nav-item">ОПЛАТА</a>
            <a href="#" class="nav-item">ДОСТАВКА</a>
            <a href="#" class="nav-item active">НОВОСТИ</a>
            <a href="#" class="nav-item">КОНТАКТЫ</a>
            <a href="#" class="nav-item">О НАС</a>
        </nav>
</header>