.about-us-content{
    margin: 50px 0;
}


.about-us-title{
    margin: 0 0 30px;
    font-weight: 700;
}

.about-us-text{
    font-size: 22px;
    padding: 10px 0;
}

.about-us-info{
    font-size: 22px;
}